<div class="border" id="list-<%= list.id %>">
  <h2>
    <%= link_to list.name, list %>foo
  </h2>
  <% if @list.private %>
    <span class="state state-closed">Private</span>
  <% end %>
  <div class="list-meta">
    <span class="user">by <%= link_to list.user.username, list.user %></span>
    &middot;
    <%= list.saves %> saves
    &middot;
    <%= render partial: 'lists/save', locals: {list: list, proper: false, class_name: ''} %>
  </div>
  <p><%= list.description %></p>
  <span class="progress-stat"><%= list.list_items.count %> Steps</span>
</div>
